* {
    box-sizing: border-box;
  }

  body {
    background-color: rgb(37, 37, 37);
    color: white;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    min-height: calc(100vh - 270px);
    font-family: Helvetica;
    position: relative;
    top: 110px;
    margin-top: 50px;
  }
  
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 20, 20);
    color: white;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 4;
  }

  #title {
    position: relative;
    text-align: center;
    line-height: 10px;
  }

  #nav-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 10px;
  }

 #title > h1 {
    font-family: 'Rock Salt', cursive;
    font-size: 45px;
    color: white;
  }

  #title > h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
  }

  #nav-right > p {
    margin: auto 20px;
    font-size: 40px;
  }

  input {
    background-color: darkgray;
    font-family: 'Oswald', sans-serif;
    color: white;
    border: 0;  
    margin: auto 0;
    font-size: 20px;
    width: 150px;
    text-align: center;
  }

  #changeView {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    background-color: rgb(37,37,37);
    background: linear-gradient(top, rgb(37,37,37), rgba(37, 37, 37, 0));
    background: -webkit-linear-gradient(top, rgb(37,37,37), rgba(37, 37, 37, 0));
    position: fixed;
    width: 100vw;
    top: 109px;
    z-index: 4;
    padding-bottom: 150px;
  }

  #calendarToggle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    font-variant: small-caps;
  }

  .slideContainer {
    margin: 0 20px;
  }

  .slider {
    -webkit-appearance: none;
    width: 35px;
    height: 20px;
    border-radius: 5px; 
    border: 1px solid white; 
    background: black;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 21px;
    border-radius: 30%; 
    border: 1px solid rgba(100, 99, 99, 0.5);
    background: white;
    cursor: pointer;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    width: 100%;
    background-color: rgb(20, 20, 20);
    color: white;
    text-align: center;
    padding: 7px;
    z-index: 5;
    margin-top: 150px;
  }

  footer > p {
    width: 100%;
  }


  section > h2 {
    margin-top: 2em;
  }

  .month {
    padding-top: 5px;
    padding-bottom: 7px;
    margin: 0 auto;
    margin-bottom: 70px;
    border-bottom: 2px solid rgb(170, 170, 170);
    width: 90vw;
    max-width: 1400px;
    min-width: 400px;
    white-space: nowrap;
  }

  .poster {
    border: 2px solid black;
    margin-bottom: 5px;
    width: 100px;
    height: 150px;
  }


  .release {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100px;
    margin-right: 0;
  }

  .release > p {
    margin: 0 0 0 20px;
    max-width: 20px;
  }

  .movieInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 25%;
    background-color: white;
    border: 3px solid black;
    color: black;
    padding: 200px;
    z-index: 5;
    font-size: 40px;
  }

  .overlay {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
    opacity: 1;
    margin: 0;
  }

  .container {
    position: relative;
    background-color: black;
    width: 100px;
    height: 150px;
    margin-bottom: 5px;
  }
  
  .posterTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    width: 90px;
    height: 150px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
  }