* {
    box-sizing: border-box;
  }

  body {
    background-color: rgb(37, 37, 37);
    color: white;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
  }
  
  main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    min-height: calc(100vh - 270px);
    font-family: Helvetica;
    position: relative;
    top: 110px;
    margin-top: 50px;
    transition: 0.3s all;
  }
  
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 20, 20);
    color: white;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 4;
    transition: 0.3s all;
  }

  #title {
    position: relative;
    text-align: center;
    line-height: 10px;
  }

  #nav-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 10px;
  }

  #nav-right > p {
    padding-bottom: 5px;
  }

 #title > h1 {
    font-family: 'Rock Salt', cursive;
    font-size: 45px;
    color: white;
  }

  #title > h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
  }

  #nav-right > p {
    margin: auto 20px;
    font-size: 40px;
  }

  input {
    background-color: darkgray;
    font-family: 'Oswald', sans-serif;
    color: white;
    border: 0;  
    margin: auto 0;
    font-size: 20px;
    width: 150px;
    text-align: center;
  }

  #hamburger-slideout {
    position: fixed;
    right: -300px;
    top: 0;
    width: 300px;
    height: 100vh;
    text-align: center;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    background-color: rgba(20, 20, 20, 0.8);
    z-index: 6;
    border-left: 3px solid black;
    transition: 0.3s all;
  }

  #hamburger-slideout > div {
    margin-top: 120px;
  }

  #hamburger-slideout p {
    margin: 0;
    padding: 20px;
    border-top: 2px solid white
  }

  #tracker {
    border-bottom: 2px solid white;
  }

  #hamburger-slideout p:hover {
    color: rgb(77, 77, 77);
    background-color: rgb(255, 255, 255);
  }

  #hamburger-slideout a {
    color: white;
    text-decoration: none;
  }

  #hamburger-slideout a:hover {
    color: rgb(77, 77, 77);
  }

  .hamburger_show {
    right: 0!important;
  }

  .hamburger_push {
    right: 300px;
  }

  #changeView {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    background-color: rgb(37,37,37);
    background: linear-gradient(top, rgb(37,37,37), rgba(37, 37, 37, 0));
    background: -webkit-linear-gradient(top, rgb(37,37,37), rgba(37, 37, 37, 0));
    position: fixed;
    width: 100vw;
    top: 109px;
    z-index: 4;
    transition: 0.3s all;
  }

  #calendarToggle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    font-variant: small-caps;
  }

  .slideContainer {
    margin: 0 20px;
  }

  .slider {
    -webkit-appearance: none;
    width: 35px;
    height: 20px;
    border-radius: 5px; 
    border: 1px solid white; 
    background: black;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 21px;
    border-radius: 30%; 
    border: 1px solid rgba(100, 99, 99, 0.5);
    background: white;
    cursor: pointer;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    width: 100%;
    background-color: rgb(20, 20, 20);
    color: white;
    text-align: center;
    padding: 7px;
    z-index: 5;
    margin-top: 150px;
    transition: 0.3s all;
  }

  footer > p {
    width: 100%;
  }


  section > h2 {
    margin-top: 2em;
  }

  .month {
    padding-top: 5px;
    padding-bottom: 7px;
    margin: 0 auto;
    margin-bottom: 70px;
    border-bottom: 2px solid rgb(170, 170, 170);
    width: 90vw;
    max-width: 1400px;
    min-width: 400px;
    white-space: nowrap;
  }

  .poster {
    border: 2px solid black;
    margin-bottom: 5px;
    width: 100px;
    height: 150px;
  }


  .release {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100px;
    margin-right: 0;
  }

  .release > p {
    margin: 0 0 0 20px;
    max-width: 20px;
  }

  .movieInfo {
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: fixed;
    top: 25%;
    background-color: white;
    background: linear-gradient(top, rgb(255, 255, 255), rgb(224, 224, 224));
    background: -webkit-linear-gradient(top, rgb(255,255,255), rgb(224, 224, 224));
    border: 3px solid black;
    color: black;
    padding: 5px 20px 30px 20px;
    z-index: 5;
    font-size: 18px;
    border-radius: 8px;
    max-width: 910px;
    min-height: 500px;
    max-height: 800px;
    overflow-y: auto;
  }

  .movieInfo > h3 {
    grid-column: span 2;
    text-align: center;
    font-size: 22px;
  }

  #load {
    grid-column: span 2;
    font-style: italic;
    margin: 10vw;
  }

  #infoLinks {
    grid-column: span 2;
    text-align: center;
    font-size: 13px;
    margin-top: -20px;
  }

  #infoLinks > a {
    color: grey;
    padding: 0 5px;
  }

  #infoLinks > a > span {
    font-style: italic;
  }

  #trailer {
    grid-row: span 5;
    overflow-y: hidden;
    margin: 20px 5px 0 15px;
  }

  iframe {
    width: 100%;
    height: 270px;
    border: 0;
  }

  #covid-facts {
    grid-row: span 1;
    justify-items: center;
    align-items: center;
    margin-right: 15px;
  }

  .movieInfo p {
    font-weight: 600;
    margin-bottom: -5px;
  }

  .covid_info {
    margin-left: -40px;
  }

  .noTrailer {
    grid-column: span 2;
    margin-left: 20px;
  }

  .movieInfo p > span {
    font-weight: 500;
  }

  #covid-facts > ul {
    margin-left: -80px;
    font-weight: 600;
  }

  .movieInfo ul > li {
    margin-left: 20px;
    padding-top: 7px;
    font-weight: 500;
  }

  #imdb-facts {
    grid-column: span 2;
    margin-bottom: -10px;
  }

  #sources {
    grid-column: span 2;
    font-size: 13px;
    margin-top: 20px;
    text-align: right;
  }

  p#sources {
    font-weight: 100;
  }

  #sources > p {
    font-weight: 200;
  }

  #closeInfo {
    grid-column: span 2;
    text-align: right;
    margin: 0 0 -20px 0;
    font-size: 25px;
  }

  #closeInfo a {
    text-decoration: none;
    color: black;
  }

  .carousel__button--prev,
  .carousel__button--next {
    position: absolute;
    top:50%;
    width: 1.8rem;
    height: 1.8rem;
    background-color: rgba(170, 170, 170, 0.5);
    border-radius: 50%;
    cursor: pointer; 
    z-index: 1001; /* Sit on top of everything */
    border: 1px solid rgba(20, 20, 20, 0.8);
  }
  .carousel__button--prev {
    left: 0.5%;
  }
  .carousel__button--next {
    right: 0.5%;
  }
  .carousel__button--prev::after,
  .carousel__button--next::after {
    content: " ";
    position: absolute;
    width: 5px;
    height: 5px;
    top: 50%;
    left: 54%;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    transform: translate(-50%, -50%) rotate(135deg);
  }
  .carousel__button--next::after {
    left: 47%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .overlay {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
    opacity: 1;
    margin: 0;
  }

  .container {
    position: relative;
    background-color: black;
    width: 100px;
    height: 150px;
    margin-bottom: 5px;
  }
  
  .posterTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    width: 90px;
    height: 150px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
  }

  #search-results {
    font-family: 'Oswald', sans-serif;
    width: 50vw;
  }

  #search-results > h1 {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
  }

  #search-results > ul {
    float: left;
    font-size: 24px;
  }

  #search-results a {
    color: grey;
  }

  #search-results a:active {
    color: rgb(255, 88, 88);
  }

  .hidden {
    opacity: 0;
  }

